{% extends 'index.html' %}

{% load custom_templates %}

{% block title %} Patient Management System | Home  {% endblock title %}
{% block section %}

<div class="d-flex justify-content-center" style="padding-top: 30px;">
    <p>Select Search to Search the Data and Log Data to input Data into Patient Management System </p>
</div>

<div class="d-flex justify-content-center" style="padding-top: 30px;">
    <p>Your IP Address is: {{ ip_address }} </p>
</div>

<div class="d-flex justify-content-center" style="padding-top: 5px;">
    <div id="mapid"></div>
    <script>
        var mymap = L.map('mapid').setView([{{ latitude }}, {{ longitude }}], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap'
        }).addTo(mymap);
    
        // Add a marker for the user's location
        var marker = L.marker([{{ latitude }}, {{ longitude }}]).addTo(mymap);
        marker.bindPopup("<b>Hello!</b><br>You are here. {{ ip_address }}").openPopup();
    </script>
</div>




{% endblock section %}