
<div class="jumbotron">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-6">
                <br>
                <h5 class="text-center">Search Physicians</h5>
                <form method="get" action="{% url 'search-physicians' %}">
                    <div class="form-group text-center">
                        <input class="mb-3" type="text" name="first_name" placeholder="First Name" value="{{ request.GET.first_name }}">
                        <input class="mb-3" type="text" name="last_name" placeholder="Last Name" value="{{ request.GET.last_name }}">
                        <select class="mb-3" name="specialty">
                            {% for specialty in all_specialties %}
                            <option value="{{ specialty }}" {% if specialty_query == specialty %} selected {% endif %}>
                                {{ specialty }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="text-center"> <!-- Center the button -->
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" style="padding-top: 30px;">
    {% if physicians %}
    <ul class="list-group">
        {% for physician in physicians %}
        <li>{{ physician.first_name }} {{ physician.last_name }} - Specialty: {{ physician.specialty }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="text-center" style="padding-top: 50px;">No results found.</p>
    {% endif %}
</div>


<br><br><br><br><br><br><br><br>
<div class="alert alert-primary" role="alert" style="padding-top: 50px;">
    <h4>Important Notice!</h4>
    <p>
        This website is student lab work and does not necessarily reflect Constructor University opinions.
        Jacobs University Bremen does not endorse this site, nor is it checked by Constructor University
        regularly, nor is it part of the official Constructor University web presence.
    </p>

    <p>For each external link existing on this website, we initially have checked that the target page
        does not contain contents which is illegal wrt. German jurisdiction. However, as we have no in-
        fluence on such contents, this may change without our notice. Therefore we deny any responsib-
        ility for the websites referenced through our external links from here.
    </p>

    <p>
        No information conflicting with GDPR is stored in the server.
    </p>
</div>